*{
	margin:0px;
	padding:0px;
}
body{
	background-image:url(Picture/background.jpg);
	background-repeat:no-repeat;
	background-size:100% 100%;
	font-family:"Times New Roman", Times, serif;
}
#menu{
	width:960px;
	margin:0 auto;
}
.dangnhap {
	display: flex;
}
.button1 {
	margin: 0px 5px;
	border: 1px solid gray;
	width: 80px;
	height: 20px;
	text-align: center;
	background-color: #4fee3a;
	
}
header{
	position:relative;
}
.menu{
	position:absolute;
	top:0px;
	right:0px;
}

article{
	float:right;
	width:700px;
}
aside{
	float:left;
	width:260px;
}
footer{
	clear:both;
}
.ketthuc{
	font-weight:bold;
	font-size:20px;
}
.ketthuc a{
	text-decoration:none;
	color:#5561ba;
	text-transform:uppercase;
}
footer b{
	text-transform:uppercase;
	color:#808080;
	font-size:18px;
}
footer p{
	font-style:italic;
	color:#000;
	font-weight:bold;
}
.chuchay1{
	background-color:#367188;
	color:#FFF;
	text-transform:uppercase;
	height:40px;
	line-height:40px;
	font-size:24px;
	border-radius:10px;
}
.menu1{
	padding-left:30px;
	background-color: gainsboro;
	border-radius:10px;
}
.menu1 ul li{
	padding:10px;
}
.menu1 ul li a{
	text-decoration:none;
	color: black;	
}
.menu1 ul li a:hover{
	color:rgb(131, 84, 84);
}
.banner{
	width: 100%;
	height: 30px;
	font-size: 30px;
	font-weight: bold;
	font-style: italic;
	color: white;
	text-align: center;
	border: 2px solid black;
	background-color:  #5561ba;
	border-radius: 5px;
}
.box{
	width:225px;
	float:left;
	border:1px solid #333;
	margin:10px 3px;
}
.minhhoa {
	width: 300px;
	height: 400px;
}
.hinhanh{
	float: left;
	clear: right;
	overflow: auto;
}
.content {
	display: flex;
}
.giaohang {
	font-size: 14px;
	font-weight: normal;
	font-style: italic;
    cursor: pointer;
    color: #8a4444;
    padding: 5px 5px 5px 40px;
    margin-bottom: 10px;
    border-radius: 2px;
    background-color: #f8f8f8;
    border: 1px solid #eaeaea;
}
.motasanpham {
	width: 100%;
	margin-left: 10px;
}
.khuyenmai-detail{
	font-family: Arial,Helvetica,sans-serif;
	line-height: 1.42857143;
	color: #333;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 1px dotted black;
	font-size: 100%;
	font-weight: normal;
	vertical-align: baseline;
	background: transparent;
}
.khuyenmaidb {
	padding: 4px 10px;
    font-weight: bold;
    color: #fff;
    background: #34a105;
    border-bottom: 1px dashed #d7d7d7;
}
.fk-main {
	font-family: Arial,Helvetica,sans-serif;
	line-height: 1.42857143;
	color: #333;
	box-sizing: border-box;
	margin: 0;
	border: 0;
	font-size: 100%;
	font-weight: normal;
	vertical-align: baseline;
	background: transparent;
	padding: 15px 15px 5px 15px;
}
.fk-main a {
	text-decoration: none;
	font-size: 12px;
}
.button2 {
	background-color: #d0021b;
	border: 1px solid #d0021b;
	width: 200px;
	height: 50px;
	font-size: 30px;
	color: white;
	font-weight: normal;
	font-family: Arial,Helvetica,sans-serif;
	font-style: italic;
	cursor: pointer;

}
.fk-main ul li {
	margin-left: 20px;
	color: black;
	margin-bottom: 10px;
}
.tkmspcrb {
	font-family: Arial,Helvetica,sans-serif;
	line-height: 1.42857143;
	box-sizing: border-box;
	font-size: 100%;
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	font-weight: bold;
	color: #d0021b!important;
	font-style: normal!important;
	background: none!important;
	display: block!important;
	padding-bottom: 5px;
	margin-bottom: 5px;
}
.tkmspbb{
	font-family: Arial,Helvetica,sans-serif;
	line-height: 1.42857143;
	box-sizing: border-box;
	margin: 0;
	border: 0;
	vertical-align: baseline;
	margin-bottom: 5px;
	padding: 2px 5px;
	font-size: 12px;
	border-radius: 3px;
	display: block;
	font-weight: bold;
	color: #000;
	background: none;
	font-style: normal;
}
.fk-sale {
	font-family: Arial,Helvetica,sans-serif;
	line-height: 1.42857143;
	color: #333;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-weight: normal;
	vertical-align: baseline;
	background: transparent;
}
.button{
	background-color:#f3285b;
	height:30px;
	line-height:30px;
	border-radius:5px;
	color:#FFF;
	padding:0 5px;
}
.box a{
	text-decoration:none;
	color:#000;
}
.box a:hover{
	color:#F60;
}
.box p{
	text-align:center;
	color:#333;
	font-weight:bold;
}
.box h4{
	color:#F00;
	text-align:center;
}
h3{
	color:#FFF;
	font-weight:bold;
	margin-top:19px;
}
.menu2{
	background-color:rgb(204, 178, 130);
	border-radius:10px;
}
.menu2 p{
	text-align:center;
	color:black;
	font-weight:bold;
}
nav>ul>li{
	display:inline-block;
	position:relative;
	}
	
nav>ul>li>a{
	display:block;
	text-decoration:none;
	padding:0 15px;
	line-height:50px;
	color:red;
	font-weight:bold;
	}
nav>ul>li>a:hover{
	color:gray;
}
nav>ul{
	padding:0px;
	margin:0px;
	list-style:none;
	border-radius:10px;
	background-color:gainsboro;
	text-align:center;
	} 		
nav ul ul{
	position:absolute;
	display:none;
	padding:0px;
	margin:0px;
	list-style:none;
	width:250px;
	}
nav ul ul a{
	display:block;
	line-height:30px;
	background-color:gainsboro;
	color:red;
	font-weight:bold;
	text-decoration:none;
	padding:10px 10px;}  	
nav > ul > li:hover>ul{
	display:block;
}	
nav ul ul a:hover{
	color:#FF0;
}
.a img{
transition-duration: 0.5s;
}
.a img:hover{
transform:scale(1.5);
}

